//anidacion
.caja1 {
  h2 {
    color: rgb(1, 1, 1);
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
  }
  
}